<!DOCTYPE html>

<html>
    <head>
        <title>Blogz</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
      <strong><h1 class="hd">BLOGZ</h1></strong>
        <nav class="bar">
            <ul class="bar">
                <a href="/"><li>HOME</li></a>
                <a href="/blog"><li>ALL POSTS</li></a>
                <a href="/blog/newpost"><li>NEW POST</li></a>
                <a href="/login"><li>LOGIN</li></a>
                <a href="logout"><li>LOGOUT</li></a>
                <a href="signup"><li>REGISTER</li></a>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>
